/* Vars-Required-From:
 *   Nil
 *
 * Vars-Set-Fom:
 *   Nil
 */

$site-color-background: #2a2a2a;
$site-color-foreground: #eee;
$site-color-highlight: #2982A0;
$site-color-hyperlink: #ed615f;
$site-color-accent: #ed615f;

@include make_site_color_faded($default-color-delta-large / 100, ((background, $site-color-background), (foreground, $site-color-foreground), (highlight, $site-color-highlight), (hyperlink, $site-color-hyperlink), (accent, $site-color-accent)));

body {
  background-color: $site-color-background;
  color: $site-color-foreground;
  background: $site-color-background url(/body.png) repeat;
}

#{headings()} {
  @include set_color_and_hover($site-color-foreground);
}

a {
  @include set_color_and_hover($site-color-hyperlink);
}
