/* Vars-Required-From:
 *   . base
 *   . { menu }
 *
 * Vars-Set-From:
 *   Nil
 */

@import "partials/menu";

$sidebar-border-width: $default-border-thickness;

$sidebar-width: 300;
$sidebar-width-hidden: 300;
$sidebar-height-hidden: 800;

$sidebar-font-size: 1.05rem;
$sidebar-font-size-hidden: 1.05rem;

.site-sidebar {
  background-color: $site-color-background;
  border: none;
  border-bottom: ($sidebar-border-width + px) solid $site-color-highlight;
  border-left: ($sidebar-border-width + px) solid $site-color-highlight;
  border-radius: 0 0 0 ($default-gap-thick + px);
  font-size: $sidebar-font-size-hidden;
  margin: 0;
  padding: 4px;
  position: fixed;
  right: 0;
  text-align: center;

  .sidebar-note {
    font-size: 0.7em;
  }

  .reveal-sidebar {
    @include set_color_and_hover($site-color-accent, color);

    display: block;
    cursor: pointer;
  }

  .sidebar-contents {
    max-width: 0em;
    max-height: 0em;
    transform: translateX(2em);
    overflow: hidden;
    transition: all 0.5s ease;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ .sidebar-contents {
    overflow: hidden auto;
    max-height: $sidebar-height-hidden + px;
    max-width: $sidebar-width-hidden + px;
    transform: translateX(0);
  }
}

.site-sidebar {
  @media screen and (min-width: 64em) {
    width: $sidebar-width + px;
    font-size: $sidebar-font-size;
    border: none;
    padding: 0;

    @if $site-sidebar-side == "left" {
      right: auto;
    }

    .reveal-sidebar {
      display: none;
    }

    .sidebar-contents {
      display: block;
      max-width: none;
      max-height: none;
      overflow: hidden auto;
      transform: translateX(0);
      width: 100%;
    }
  }
}

$site-sidebar-width: $sidebar-width;
$site-sidebar-border-width: $sidebar-border-width;
