---
layout: blog
---
{% include JB/setup %}

{% capture tag %}{{ page.title | slugify }}{% endcapture %}

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
{% if post.tags contains tag %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_long_string }}</span>
  </p>
  <div class="content">
    {{ post.excerpt }}<br>
    <a href="{{ post.url }}">Read more...</a><br><br>
  </div>
{% endif %}
{% endfor %}

